<html>

<head>
  <title>Monster Game</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css" />
</head>

<body>
  <div id="app" class="app-container">

    <div class="card-container">
      <div class="player-card">
        <div class="card">
          <h3>{{player.name}}</h3>
          Special Attacks: {{player.specialAttack}}<br />
          <div class="health-title">Health:</div>
          <div class="health-bar-wrap">
            <div class="player-health" :style="{width: player.health + '%'}">
              <span>{{player.health}}%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="player-card">
        <div class="card">
          <h3>{{monster.name}}</h3>
          Special Attacks: {{monster.specialAttack}}<br />
          <div class="health-title">Health:</div>
          <div class="health-bar-wrap">
            <div class="monster-health" :style="{width: monster.health + '%'}">
              <span>{{monster.health}}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="player-actions">

      <template v-if="playerTurn">
        <strong>{{player.name}}, take an action:</strong>
      </template>
      <template v-else>
        <strong>{{monster.name}}, take an action:</strong>
      </template>

      <div class="actions-row">
        <div class="move-button">
          <button @click="attack()" class="attack-button">Attack</button></div>

        <template
          v-if="playerTurn === true && player.specialAttack > 0 || playerTurn === false && monster.specialAttack > 0">
          <div class="move-button">
            <button @click="attack(true)" class="special-attack-button">Special Attak</button>
          </div>
        </template>

        <div class="move-button">
          <button @click="heal()">Heal</button>
        </div>
        <div class="move-button">
          <button @click="giveUp()">Give Up</button>
        </div>
      </div>

    </div>

    <ul class="action-list">
      <li v-for="text in history">{{text}}</li>
    </ul>

  </div>

  <script src="./app.js"></script>
</body>

</html>