.health-bar-wrap {
  background: #ccc;
  width: 100%;
  height: 25px;
}

.player-health {
  background: green;
  color: #fff;
  height: 25px;
}

.monster-health {
  background: red;
  color: #fff;
  height: 25px;
}